@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#root {
    max-width: 1280px;
    margin: 0;
    padding: 2rem;
    text-align: left;
}

:root {
    font-family: 'Inter', 'Archivo', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #ffffff;
    background-color: #111111;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 20px;
    display: block;
    /* place-items: center; */
    min-width: 320px;
    min-height: 100vh;
    /* border: 3px solid #ffffff; */
    overflow-y: hidden;
}

.app {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow-y: hidden;
}

.cards-section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    height: 100vh;
}

.page-container {
    overflow-y: auto; 
    scroll-behavior: smooth; 
}

.card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

.card {
    width: 40vw; 
    height: fit-content; 
    display: flex;
    text-align: left;
    justify-content: center;
    background-color: #fff;
    color: #111111;
    padding: 1.5rem;
    border-radius: 1.5rem;
    transition: all 0.5s ease-in-out;
    margin-bottom: 6rem;
    max-height: 80vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    /* box-shadow: 0 0 2rem 5rem #111111; */
}

h1 {
    font-size: 3.2em;
    line-height: 1;
    font-weight: 300;
}

.vr {
    border-left: .188rem solid #ffffff;
    height: 45.5vh;
    width: fit-content;
}

nav ul {
    position: absolute;
    bottom: 2rem;
    list-style: none;
    padding-left: 0;
    background-color: #111111;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0;
}

nav ul li {
    padding: .25rem;
    padding-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

ul {
    padding-left: 1rem;
}

.align-left {
    text-align: left;
}

.intro {
    position: absolute;
    top: 2rem;
}

.activenav {
    font-weight: 500;
    background-color: #fff;
    color: #0d0d0d;
    transition: .25s ease-in-out;
}

.title {
    margin: 0;
}

.heading {
    margin-bottom: 0;
}

.subheading {
    margin-top: 0;
    font-style: italic;
}

.descriptor {
    margin-bottom: 0;
}

.exp-display {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.small-text {
    font-size: .9rem;
}

.experience-page {
    margin-bottom: -1.5rem;
}

.experiences {
    transition: opacity 0.3s ease, height 0.3s ease;
    opacity: 1;
}

.pagination-controls {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-controls button {
    padding: .5rem 1rem;
    background-color: #111111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color .25s ease;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #747474;
}

.pagination-button:disabled {
    cursor: not-allowed;
    background-color: #dbdbdb;
}

.page-number {
    flex-grow: 1;
    text-align: center;
}

.subtitle {
    margin-bottom: .5rem;
}

.my-exp, th, td {
    border: #111111 solid .094rem;
    border-collapse: collapse;
    padding: .25rem .5rem;
} 

.my-exp {
    width: 100%;
}

.company {
    width: 35%;
}

a {
    color: #747474;
}

@media (min-width: 745px) and (max-width: 906px) {
    .cards-section {
        position: absolute;
        right: 5vw;
    }
}

@media (max-width: 745px) {

    body, .app, .cards-section, .sidebar {
        overflow-y: visible auto;
    }

    .app {
        display: flex;
        flex-direction: column;
    }

    .vr {
        border-top: .188rem solid #ffffff;
        height: fit-content;
        width: 35vw;
    }

    nav {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
    }

    nav ul {
        background-color: none;
        padding: 0;
        margin: 1.5rem 2rem;
        overflow-x: auto;
        display: flex;
        scroll-behavior: smooth;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    nav ul li {
        display: inline-block;
        padding: .5rem 1rem;
    }

    .arrow {
        background-color: #111111;
        color: #fff;
        border: none;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        position: absolute;
        top: 14.5rem; 
        transform: translateY(-50%); 
        z-index: 999;
    }
      
    #left-arrow {
        left: 3rem;
    }
      
    #right-arrow {
        right: 3rem;
    }

    .cards-section, .card-list, .card {
        max-height: fit-content;
        height: fit-content;
    }

    .cards-section {
        overflow-y: scroll;
        display: block;
        margin-right: 0;
    }

    .card {
        width: 60vw; 
        height: fit-content; 
        display: flex;
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    .pagination-controls button:hover:not(:disabled) {
        background-color: #111111;
    }

    .pagination-controls button:active {
        background-color: #747474;
    }

}